<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/head.ejs')%>
    
    <title>Virutal Courses</title>
</head>
<body id="body">
    
    <%- include('partials/navegation.ejs')%>

    <main>

        <section class="courses">

            <h1>Courses</h1>

            <div class="border"></div>

            <div class="courseArea">

                <% for(i=0; i < urls.length; i++) { %>
                    <div class="course">
                        <iframe width="560" height="315" 
                            src=<%= urls[i] %> >
                        </iframe>
                        <div class="courseTitle"><%= titles[i] %></div>
                        <!-- <div class="courseDescription"><%= titles[i] %></div> -->
                        <button class="courseButton">Enter</button>
                    </div>

                <% } %>
                
                
            </div>

        </section>

        <div class="border"></div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./effects.js"></script>
    <!-- <script src="./api.js"></script> -->
    
</body>
</html>